<footer>
  <div class="container">
    <div class="footer-grid">
      <div>
        <h4>Napdev</h4>
        <p>Solusi terbaik untuk bisnis Anda. Kami berkomitmen memberikan layanan berkualitas dengan harga terjangkau.</p>
      </div>
      <div>
        <h4>Menu</h4>
        <ul>
          <li><a href="#home">Beranda</a></li>
          <li><a href="#about">Tentang</a></li>
          <li><a href="#contact">Kontak</a></li>
        </ul>
      </div>
      <div>
        <h4>Ikuti Kami</h4>
        <ul>
          <li><a href="#">Instagram</a></li>
          <li><a href="#">Facebook</a></li>
          <li><a href="#">LinkedIn</a></li>
        </ul>
      </div>
    </div>
    <div class="footer-bottom">
      &copy; 2025 Napdev. All rights reserved.
    </div>
  </div>
</footer>